html, body{
  height: 100%;
}

body {
  background-image: url(../img/halloween.jpg);
  color: orange;
  background-position: center center;
	background-repeat: no-repeat;
  background-attachment: fixed;
	background-size: cover;
  overflow-y: hidden;
}

h1 {
  text-shadow: 2px 2px rebeccapurple;
}

.li01 {
  background-color: rgba(153, 0, 153, .5);
}

.li02 {
  background-color: rgba(255,165,0,.6);
}

.header {
  text-align: center;
}

#input {
  color: black;
  background-color: orange;
  border-color: rebeccapurple;
}

.btn {
  color: black;
  background-color: orange;
  border-color: orange;
}

/*==========================Switch css==*/

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 21px;
  float: right;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: orange;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width:  13px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider {
  background-color: purple;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}